body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/memphis-mini-dark.png");
  font-family: Arial, Helvetica, sans-serif;
  color: #f5f5f5;
  font-size: 30px;
}

div {
  display: flex;
}

h1 {
  font-family: "Allura", cursive;
  text-align: center;
  font-size: 100px;
  margin: 0px;
}

P {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

img {
  height: 9rem;
  width: 8rem;
  margin: 0.125rem;
}

#instructions {
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  width: 80%;
  max-width: 35rem;
  margin: 1rem;
}

#numsDiv {
  flex-direction: row;
  justify-content: center;
  width: 90%;
  max-width: 40rem;
  margin: 1rem;
}

#goal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: pink;
  color: black;
  padding: 1rem;
  text-align: center;
}

#goalNum {
  justify-content: center;
  text-align: center;
}

#score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: yellowgreen;
  color: black;
  padding: 1rem;
  text-align: center;
}

#scoreNum {
  justify-content: center;
  text-align: center;
}

#winLoseCount {
  display: flex;
  flex-direction: column;
  background-color: pink;
  color: black;
  padding: 1rem;
  text-align: center;
}

#wins {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#losses {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#itemButtonsDiv {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
